{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <header id="top">
        <div class="text">
            <div class="container">
                <h2><i class="fa fa-bullhorn"></i> Alzo Mi Voz</h2>
                <p>Se parte de los ciudadanos que denuncian la contaminación de nuestro medio ambiente.</p>
            </div>
        </div>
    </header>
    <div class="main">
        <form enctype="multipart/form-data" action="." method="post" class="cbp-mc-form">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 ">
                        {% csrf_token %}             
                        {{ form.as_p }}
                        <div class="cbp-mc-submit-wrap"><input class="cbp-mc-submit" type="submit" class="btn btn-2 btn-2g" value="Envia tu Denuncia" /></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}