{% extends 'base.html' %}
{% load staticfiles i18n %}
{% block content %}
<div class="text">
    <div class="container">
        <h2><i class="fa fa-bullhorn"></i> Alzo Mi Voz</h2>
        <p>Bienvenido al Panel de Estadístico de las denuncias ciudadanas.</p>
    </div>
</div>
<div class="contentCharts">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="titlechart">
                        <h3>Número de Denuncias</h3>
                    </div>
                    <div class="col-md-12">
                        <div id="container" style="min-width: 250px; height: 400px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="titlechart">
                        <h3>Denuncias por Zonas Geográficas</h3>
                    </div>
                    <div class="col-md-12">
                        <div id="container3" style="min-width: 250px; height: 400px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="titlechart">
                        <h3>Impacto en Redes Sociales</h3>
                    </div>
                    <div class="col-md-12">
                        <div id="container4" style="min-width: 250px; height: 400px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block extra_js %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="{% static 'js/charts.js' %}"></script>
{% endblock extra_js %}