{% extends 'base.html' %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<h1 class="titles tipography" id="top">Mas que una app <br> Somos una Plataforma</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<center>
						<img class="img-responsive" id="imgMultidisp" src="multidisp.png">
					</center>
					
				</div>
			</div>
		</div>
	</div>	
</div>	
<div class="container-fluid section1">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<h1 class="titles alzomivoz tipography">ALZO MI VOZ</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="row contentrounded">
				<div class="col-md-3">
					<h1 class="rounded tipography" id="maps">Mapas</h1>
					<i class="fa fa-map-marker fa-2x"></i>
				</div>
				<div class="col-md-3">
					<h1 class="rounded tipography" id="community">Comunidad</h1>
					<i class="fa fa-group fa-2x"></i>
				</div>
				<div class="col-md-3">
					<h1 class="rounded tipography" id="charts">Estadísticas</h1>
					<i class="fa fa-bar-chart fa-2x"></i>
				</div>
				<div class="col-md-3">
					<h1 class="rounded tipography" id="api">API</h1>
					<i class="fa fa-database fa-2x"></i>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid section2">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4">
					<div class="suplementtext tipography">
						<h3>Contribuye</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="suplementtext tipography">
						<h3>Denuncia</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="suplementtext tipography">
						<h3>Disfruta</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="bootstrap.min.js"></script>
<script src="jquery.js"></script>
</body>
<footer class="center tipography">
	<center>
		ALZO MI VOZ <br>
		Copyright 2014 &copy; Storm Coders
	</center>
</footer>
{% endblock content %}