{% extends 'base.html' %}
{% block content %}
<div class="pageAbout container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center" id="top">Mas que una aplicacion <br> Somos una Plataforma</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<center>
				<img class="img-responsive" src="multidisp.png">
			</center>	
		</div>
	</div>	
</div>	
<div class="pageAbout container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center">ALZO MI VOZ</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="row ">
				<div class="col-md-3">
					<h1 class="" >Mapas</h1>
					<i class="fa fa-map-marker fa-2x"></i>
				</div>
				<div class="col-md-3">
					<h1 class="" >Comunidad</h1>
					<i class="fa fa-group fa-2x"></i>
				</div>
				<div class="col-md-3">
					<h1 class="" >Estadísticas</h1>
					<i class="fa fa-bar-chart fa-2x"></i>
				</div>
				<div class="col-md-3">
					<h1 class="" >API</h1>
					<i class="fa fa-database fa-2x"></i>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="pageAbout container">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4">
					<div class="">
						<h3 class="text-center">Contribuye</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="">
						<h3 class="text-center">Denuncia</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="">
						<h3 class="text-center">Disfruta</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer class="center">
	<center>
		ALZO MI VOZ <br>
		Copyright 2014 &copy; Storm Coders
	</center>
</footer>
{% endblock content %}