{% extends 'base.html' %}
{% block content %}
<div id="pageError">
	<center>
		<div class="container contentError">
			<div class="row">
				<div class="col-md-12">
					<div class="error404">
						<p><i class="fa fa-exclamation-triangle fa-4x"></i></p>
						<h1>404</h1>
					</div>
				</div>
			</div>
			<section>
				<div class="row">
					<div class="col-md-12">
						<h1>Ooops! Ha ocurrido un error.</h>
					</div>
				</div>
			</section>
			<section>
				<div class="row">
					<div class="col-md-12">
						<p>La página que has seleccionado se ha movido o no existe.</p>
						<p>Intenta regresar a la página principal</p>
					</div>
				</div>
			</section>
		</div>
	</center>
	<footer id="footerError">
		<center>
			<p>2014 &copy; Storm Coders</p>
		</center>
	</footer>
</div>
{% endblock content %}