{% extends 'base.html' %}
{% block content %}
    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <div class=" text">
                <h1>Alzo Mi Voz</h1>
                <h3>Alza tu voz denunciando la contaminación ambiental</h3>
                <br>
                <a href="{% url 'agregar_denuncia' %}" class="btn btn-lg btn btn-light">Denunciar</a>
                <a href="{% url 'denuncias_list' %}" class="btn btn-lg btn-dark">Ver Denuncias</a>
            </div>
        </div>
    </header>
{% endblock content %}


    